<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
     <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "mon titre", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Accueil", home_path %></li>
              <li><%= link_to "Chapitre", chapitre_path %></li>
              <li><%= link_to "Scene", scene_path %></li>
              <li><%= link_to "Anecdote", anecdote_path %></li>
              <li><%= link_to "Help", help_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
